# Load survey data in DB

In [37]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "DROP TABLE IF EXISTS googleresponse"
cursor.execute(query1)

# query 2
query2 = "DROP TABLE IF EXISTS techrecords"
cursor.execute(query2)

# query 3
query3 = "DROP TABLE IF EXISTS valuecount"
cursor.execute(query3)

In [38]:
# write google responses in DB
import pandas as pd
from sqlalchemy import create_engine
column_names= ['Id','SurveyQues','SurveyAns','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/googleresponse.csv', header = None, names = column_names)
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('googleresponse', conn, if_exists='append', index=False)

   Id                                         SurveyQues   SurveyAns  \
0   1   Which database table stores the highest records?   Amazon DB
1   2         Which data is capable to produce new data?  Pricing DB
2   3  Which database table can join with most of the...  Pricing DB
3   4    Which database table contains encrypted values?    Sales DB
4   5  Which database table has the least duplicate v...  Pricing DB
5   6  Which database table is used more frequently i...   Amazon DB
6   7        Which database table has least null values?  Pricing DB
7   8  Which data loss will create legal consequences...    Sales DB
8   9  Which database table information value falls i...   Amazon DB
9  10    Which database is unique for your organization?  Pricing DB

            Metric     Dimension
0     Record_Count        Volume
1         New_Info    Rebuilding
2  Interconnection        Volume
3       Encryption      Security
4       Duplicates       Quality
5        Most_Used         Usage
6      Null_Values       Quality
7  Confidentiality   Legislative
8       Shelf_Life          Time
9      Unique_Data  Market_Value

# Metrics Script

In [39]:
# script to find Volume-record count 

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "SELECT count(*) FROM pi_price_reduction"
cursor.execute(query1)
records1 = cursor.fetchall()

# query 2
query2 = "SELECT count(*) FROM amazonuk_listings"
cursor.execute(query2)
records2 = cursor.fetchall()

# query 3
query3 = "SELECT count(*) FROM sales"
cursor.execute(query3)
records3 = cursor.fetchall()

a=records1
b=records2
c=records3
countPrice_element= 0
countSales_element=0
countAmazon_element=0

if ( a > b ) and ( a > c ):  
   print ("Pricing DB;Record_Count;Volume",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Volume_record_count.csv", "a"))
   countPrice_element = 1

if ( b > c ) and (b > a):
   print ("Amazon DB;Record_Count;Volume",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Volume_record_count.csv", "a"))
   countAmazon_element = 1


if ( c > a ) and (c > b):
   print ("Sales DB;Record_Count;Volume",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Volume_record_count.csv", "a"))
   countSales_element = 1


from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Volume_record_count.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

  Techoutput        Metric Dimension
0  Amazon DB  Record_Count    Volume

In [40]:
# script to find Volume-interconnection

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select count(1) from pi_price_reduction as a inner join amazonuk_listings as b on a.pi_id=b.id"
cursor.execute(query1)
records4 = cursor.fetchall()

d=records4

if  d != 0:
   print ("Pricing DB;Interconnection;Volume",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Volume_interconnection.csv", "a"))
   countPrice_element = countPrice_element+1
       
from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Volume_interconnection.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

   Techoutput           Metric Dimension
0  Pricing DB  Interconnection    Volume

In [41]:
# script to find Rebuilding-new info

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select price-(price*(reduction/100)) as discounted_price from product as a left outer join pi_price_reduction as b on b.pi_id=a.id where b.pi_id is not null"
cursor.execute(query1)
records6 = cursor.fetchall()

e=records6

if  e != 0 :
   print ("Pricing DB;New_Info;Rebuilding",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Rebuilding_new info.csv", "a"))
countPrice_element = countPrice_element+1

from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Rebuilding_new info.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

   Techoutput    Metric   Dimension
0  Pricing DB  New_Info  Rebuilding

In [42]:
# script to find Security-Encryption

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "SELECT count(*) FROM myvoltsone.sales where email like '%U�qn�Q�O%'";
cursor.execute(query1)
records7 = cursor.fetchall()

f=records7

if  f != 0 :
   print ("Sales DB;Encryption;Security",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Security_Encryption.csv", "a"))
countSales_element = countSales_element+1

from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Security_Encryption.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

  Techoutput      Metric Dimension
0   Sales DB  Encryption  Security

In [43]:
# script to find Quality-Duplicates

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select count(1)-count(distinct pi_id) as Duplicates from pi_price_reduction"
cursor.execute(query1)
records1 = cursor.fetchall()

# query 2
query2 = "select count(1)-count(distinct asin) as Duplicates from amazonuk_listings"
cursor.execute(query2)
records2 = cursor.fetchall()

# query 3
query3 = "select count(1)-count(distinct ordhid) as Duplicates from sales"
cursor.execute(query3)
records3 = cursor.fetchall()

g=records1 
h=records2 
i=records3 

if ( g < h ) and ( g < i ):  
   print ("Pricing DB;Duplicates;Quality",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Duplicates.csv", "a"))
countPrice_element = countPrice_element+1

if (h < g):
   print ("Amazon DB;Duplicates;Quality",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Duplicates.csv", "a"))
#countAmazon_element=countAmazon_element+1

if (i < h):
   print ("Sales DB;Duplicates;Quality",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Duplicates.csv", "a"))
#countSales_element = countSales_element+1

from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Duplicates.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

   Techoutput      Metric Dimension
0  Pricing DB  Duplicates   Quality

In [44]:
# script to find Usage-Most_used

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select count(red_date) from pi_price_reduction"
cursor.execute(query1)
records1 = cursor.fetchall()

# query 2
query2 = "select count(last_update) from amazonuk_listings"
cursor.execute(query2)
records2 = cursor.fetchall()

# query 3
query3 = "select count(report_date) from sales"
cursor.execute(query3)
records3 = cursor.fetchall()

j=records1
k=records2
l=records3

if ( j > k ) and ( j > l ):  
   print ("Pricing DB;Most_used;Usage",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Usage_Most_used.csv", "a"))
   #countPrice_element = countPrice_element+1

if ( k > l ) and (k > j):
   print ("Amazon DB;Most_used;Usage",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Usage_Most_used.csv", "a"))
   countAmazon_element = countAmazon_element+1


if ( l > j ) and (l > k):
   print ("Sales DB;Most_used;Usage",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Usage_Most_used.csv", "a"))
   #countSales_element = countSales_element+1
    
from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Usage_Most_used.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

  Techoutput     Metric Dimension
0  Amazon DB  Most_used     Usage

In [45]:
# script to find Quality-Null_values

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select count(*) from pi_price_reduction where pi_id=null"
cursor.execute(query1)
records1 = cursor.fetchall()

# query 2
query2 = "select count(*) from amazonuk_listings where ranks='-1' or ranks='0'"
cursor.execute(query2)
records2 = cursor.fetchall()

# query 3
query3 = "select count(*) from sales where email='Q'"
cursor.execute(query3)
records3 = cursor.fetchall()

m=records1
n=records2
o=records3

if ( m < n ) and ( m < o ):  
   print ("Pricing DB;Null_values;Quality",
          file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Null_values.csv", "a"))
countPrice_element = countPrice_element+1

if ( n < m ) and (n < o):
   print ("Amazon DB has least duplicates;Null_values;Quality",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Null_values.csv", "a"))
#countAmazon_element=countAmazon_element+1


if ( o < m ) and (o < n):
   print ("Sales DB has least duplicates;Null_values;Quality",file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Null_values.csv", "a"))
#countSales_element = countSales_element+1

from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Quality_Null_values.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

   Techoutput       Metric Dimension
0  Pricing DB  Null_values   Quality

In [46]:
# script to find Legislative-Confidential_Data


import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Nihar@30",
    database = "myvoltsone"
)

cursor = db.cursor()

# query 1
query1 = "select count(email) from sales"
cursor.execute(query1)
records1 = cursor.fetchall()

p=records1

if p != 0 :  
   print ("Sales DB;Confidentiality;Legislative",
          file=open("H:/DCU Study/MCM Pracs/Dataset/Output/Legislative_ConfidentialData.csv", "a"))
countSales_element = countSales_element+1

from sqlalchemy import create_engine
column_names= ['Techoutput','Metric','Dimension']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/Legislative_ConfidentialData.csv', header = None, names = column_names,delimiter=';')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('techrecords', conn, if_exists='append', index=False)

  Techoutput           Metric    Dimension
0   Sales DB  Confidentiality  Legislative

# Calculate Datavalue

In [47]:
# Finding database value count

print("1",",","Amazon DB",",",countAmazon_element,file=open("H:/DCU Study/MCM Pracs/Dataset/Output/countDB.csv", "a"))
print("2",",","Pricing DB",",",countPrice_element,file=open("H:/DCU Study/MCM Pracs/Dataset/Output/countDB.csv", "a"))
print("3",",","Sales DB",",",countSales_element,file=open("H:/DCU Study/MCM Pracs/Dataset/Output/countDB.csv", "a"))

from sqlalchemy import create_engine
column_names= ['Id','Db_Name','Data_value']
df = pd.read_csv(r'H:/DCU Study/MCM Pracs/Dataset/Output/countDB.csv', header = None, names = column_names,delimiter=',')
print(df)
engine = create_engine('mysql://root:Nihar@30@localhost:3306/myvoltsone')
with engine.connect() as conn, conn.begin():
    df.to_sql('valuecount', conn, if_exists='append', index=False)

   Id       Db_Name  Data_value
0   1    Amazon DB            2
1   2   Pricing DB            4
2   3     Sales DB            2

In [48]:
# Delete Files
import os
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\countDB.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Legislative_ConfidentialData.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Quality_Duplicates.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Quality_Null_values.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Rebuilding_new info.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Security_Encryption.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Usage_Most_used.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Volume_interconnection.csv")
os.remove(r"H:\DCU Study\MCM Pracs\Dataset\Output\Volume_record_count.csv")